.base-card{
    border: solid 3px #7d838b;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card-content-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-form{
    display: flex;
    flex-direction: column;
    gap:10px;  
}

.edit-form input{
    background-color: #dbeafe;
    color: black;
    border:none;
    padding: 5px;
    border-radius: 8px;
}

